@charset "UTF-8";

*{
    font-family: 'Pattaya', sans-serif;
    transition: 390ms;
}


.fundo{
    background-color: #111010;
}

p{
  font-size: 5px;
}

  /* logo*/   
#salve{
  font-size: 2.50rem ;
  text-shadow: -5px 0px 0px #2B4EAA;                 
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;

}
  /* logo*/   

  .navbar {
    background-color:#202020 ;
    display: flex;
    position: fixed;
}

#sobre:hover{
  transform: scale(1.1);
}
#projetos:hover{
  transform: scale(1.1);
}
#pessoas:hover{
  transform: scale(1.1);
}
#eventos:hover{
  transform: scale(1.1);
}
 /* Links navbar*/
#sobre a{ 
    color: rgb(0, 170, 28);
    font-size: 200%;
    margin-right: 18px;

}
#projetos a{ 
    color: rgb(182, 179, 6);
    font-size: 200%;
    margin-right: 14px;
}                                    
#pessoas a{ 
    color: rgb(0, 88, 204);
    font-size: 200%;
    margin-right: 52px;
}
#eventos a{ 
    color:rgb(253, 126, 64);
    font-size: 200%;
    margin-left: -41%;
   
}
@media (max-width: 991px){

  #eventos a{ 
    color:rgb(253, 126, 64);
    font-size: 200%;
    margin-left: 0%;  
}
}
 /* Links navbar*/


 /* Botão de login*/
.btn{
    background-color: #9CDDE1;               
    border-radius: 9px;

}
 /* Botão de login*/


/* imagem do card transparente*/ 
.frase img{
    width: 100%;                            
    height: 620px;
    align-items: first baseline;
    filter: brightness(0.5)
}
 /* imagem do card transparente*/ 


 /* card, texto transparente*/ 
 .frase{
  
   font-size: larger;
   align-items: center;
  }

#borda{
  border-radius: 10px; 
  font-size: 100%;

 }
.card:hover {
  transform: scale(1.05);
}


#texto{
  text-align: left;
  font-size: 100%;
  color: #fff;
}
/* card, texto transparente*/ 

/*linha*/
hr{
    width: 85%; 
}
/*linha*/



/*titulo da seção sobre*/
.about h1{
    text-align: center;
    margin: 30px;                          
    color: white;
}
/*titulo da seção sobre*/



/*conteudo*/
.container{
    max-width: 100%; 
}
/*conteudo*/


/*imagem da seção sobre*/
.imagem{
    background-color: antiquewhite;
    width: 350px;
    height: 500px;                        
    margin-bottom: 5pc;
    margin-right: 15%;
    
}                                          
.imagem img{
    width: 100%;
    height: 500px;
     
      transform: scale(1.05);
    
}
/*imagem da seção sobre*/



/*resumo da seção sobre*/
.textin{
    background-color: #111010;
    width: 350px;
    height: 500px;
}                                              
.textin p{
    margin-bottom: 1rem;
    color: #d7d7d7;
    font-size: 20px;
    text-align: center;
    margin-top: 1pc;
}
/*resumo da seção sobre*/


/*titulo da seção projetos*/
.projetos h1{
    text-align: center;
    margin: 30px;                         
    color: white;
}
/*titulo da seção projetos*/


/*carousel redondo
.wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
    border-radius: 50%;
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
  
  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }
/*carousel redondo*/

 
/*titulo da seção pessoas importantes*/
  .pessoas h1{
    text-align: center;
    margin: 30px;                      
    color: white;
}
/*titulo da seção pessoas importantes*/



/*cards*/
  .card {
    background: #e8e8e8;
    padding: .4em;
    border-radius: 6px;
    margin: 10px;
    height: 30pc;
  }
  
  .card-image {
    background-color:#ffffff;
    width: 100%;
    height: 15pc;
    border-radius: 6px 6px 0 0;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: rgb(252, 252, 252);
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }
  #pessoa1, #pessoa2, #pessoa3, #pessoa4{
background-color: #e8e8e8;
  }
/*cards*/



 /*Rodapé*/
  footer{
    background-color: #202020 ;
    color: #d7d7d7;
  }
  .textorodape{
    color: #ffffffb4;
    font-size: 97%;
    font-family: 'Times New Roman', Times, serif;
  }
  .mb-3{
    color: white;
  }
  .mb-1{
    color: white;
  }
  

  #zap{
    margin: 10px;
  }
  
  #insta{
    margin: 11px;
  }
  
  #email{
    margin: 10px;
  }
   /*Rodapé*/



   /* Banner de imagem */
   .banner-principal {
      color: #fff;
      font-size: 4rem;
      margin-left: 170px;
      text-align: left;
      width: 100%;
   }


   .card-body p{
      text-align: right;
      margin-left: 170px;
      
   }

   .text-right {
    text-align: right;
}

element.style {
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translate(-50%, -50%);
  /* text-align: left; */
}
#facaparte{
color: #ffffff;
}
#meuBotao{
  background-color: orange;
  color: #fff;
  border: orange;
  border-radius: 7px;
 /* padding: 3px;*/
  font-size: 26px;
}
#meuBotao:hover{
  transform: scale(1.1);
}
.btn:focus, .btn:hover {
  text-decoration: none;
  transform: scale(1.1);
}
/* Carrosel*/

.custom-carousel {
  border-radius: 20px; /* Ajuste o valor conforme necessário para a curvatura desejada */
  overflow: hidden;
  width: 359px;
  height: 371px;
  cursor: pointer;
  margin-bottom: 5%;
}
.custom-carousel:hover{
  transform: scale(1.1);
}

.subtitulo{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}
#titulo2{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
}
.texto_carrossel{
  color: #ffffff;
  text-align: center  ;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
 
}
.texto_carrossel2{
  color: #ffffff;
  text-align: center  ;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;

}
/* botao de sociais*/
.social-links,.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#onecard{
  width: 99%;
}
#twocard{
  width: 99%;
  }
.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: 'Titillium Web', sans-serif;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  margin: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
}

.social-btn:hover {
  transform: scale(1.3);
  border-radius: 5px;
}
/*
fotos dentro do card
*/


#imgkarate1{
  height: 390px;
  width: 560px
}

#imgjiu1{
  height: 390px;
  width: 560px
}
#imgpastoral1{
  height: 390px;
  width: 560px
}
#afi1{
  height: 390px;
  width: 560px
}
/*
fotos dentro do card
*/#zap1{
  color: rgba(15, 236, 100, 0.706)
}
#ins1{
  color: rgba(236, 15, 144, 0.706)
}
#mail1{
  color: rgba(255, 28, 28, 0.706)
}