body{
    text-align: center;
    background-color: #111010;
    font-family:'Times New Roman', Times, serif;
    
}
#salve{
    font-family:'Pattaya', sans-serif;
    font-size: 4rem ;
    text-shadow: -7px 0px 0px #2B4EAA;                 
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
  margin-top: 0%;
  }

h2{
    color: white;
}

label{
    
    color: white;
}
#btn{
    background-color: #2b4faa9a;               
    border-radius: 42px;
    color: aliceblue;
}
#btn:focus, #btn:hover {
  text-decoration: none;
  transform: scale(1.1);
}
button {

    height: 2.5em;
    width: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 241, 241);
    border-radius: 100px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: 100%;
    background: #eeeded00;
    border: 3px solid #2b4faa9a;
   }

   span{
    color: aliceblue;
   }
   
   button > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   button:hover > svg {

    font-size: 1.2em;
    transform: translateX(-6px);
   }
   
   button:hover {
    transform: translateY(-8px);
   }

   #voltar{
    text-decoration: none;
   }

   input {
    width: 210px;
    height: 50px;
    padding: 0 16px;
    background: transparent;
    border-radius: 4px;
    border: 1px solid #2B4EAA;
    color: #f9f9f9;
    animation: shake_541 0.14s 3;
    text-decoration: none;
  }
  
  input:valid {
    border-color: #1c3675;
    animation: none;
  }
  
  @keyframes shake_541 {
    0%, 100% {
      translate: 0;
    }
  
    25% {
      translate: 8px 0;
    }
  
    75% {
      translate: -8px 0;
    }
  }
  
 
  .button{
    background-color: #ffffff00;
    color: #fff;
    /*width: 8.5em;*/
    height: 2.9em;
    border: #2B4EAA 0.2em solid;
    border-radius: 11px;
    font-family:'Times New Roman', Times, serif;
    transition: all 0.6s ease;
  }
  
  .button:hover {
    background-color: #2B4EAA;
    cursor: pointer;
  }
  
  .button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .button:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    margin: 0 1.5em
  }
  