
.form-container {
    display: flex;
    justify-content: center;
    /*width: 600px;  Largura da div */
    height: 700px;
    margin: 0 auto; /* Margem automática horizontal */
    text-align: center; /* Alinhamento de texto central 
    margin-top: 150px;
   /* border: 1px solid whitesmoke;*/
    border-radius: 15px;
    
    color: whitesmoke;
   
align-items: center;
    
   
/*height: 100vh;  Isso garante que o contêiner esteja centralizado verticalmente na tela */
}
body{
    background-color: #111010;
}

.nome{
    display: flex;
   
    
}

.sobrenome{
    margin-left: 10px;
    
}

a:link{
    text-decoration: none;
}


  #salve{
    font-size: 3.3rem;
    text-shadow: -6.9px 1px 0px #2B4EAA;                   
    color: rgb(255, 255, 255);
    font-family:'Pattaya', sans-serif;
    text-transform: uppercase;
  }
#username2 {
    width: 201px;
    height: 32px;
   /* padding: 0 16px;*/
  background: transparent;
  border-radius: 4px;
  border: 1px solid #2B4EAA;
  color: #f9f9f9;
  animation: shake_541 0.14s 3;
}
#name1{
    width: 201px;
    height: 32px;
   /* padding: 0 16px;*/
  background: transparent;
  border-radius: 4px;
  border: 1px solid #2B4EAA;
  color: #f9f9f9;
  animation: shake_541 0.14s 3;
}
#email1{
    width: 201px;
    height: 32px;
   /* padding: 0 16px;*/
  background: transparent;
  border-radius: 4px;
  border: 1px solid #2B4EAA;
  color: #f9f9f9;
  animation: shake_541 0.14s 3;
}
#username2{
    width: 201px;
    height: 32px;
   /* padding: 0 16px;*/
  background: transparent;
  border-radius: 4px;
  border: 1px solid #2B4EAA;
  color: #f9f9f9;
  animation: shake_541 0.14s 3;
}
#password2{

    width: 201px;
    height: 32px;
   /* padding: 0 16px;*/
  background: transparent;
  border-radius: 4px;
  border: 1px solid #2B4EAA;
  color: #f9f9f9;
  animation: shake_541 0.14s 3;
}


.button {
  background-color: #ffffff00;
  color: #fff;
  width: 8.5em;
  height: 2.9em;
  border: #2B4EAA 0.2em solid;
  border-radius: 11px;
 
  transition: all 0.6s ease;
}

.button:hover {
  background-color: #2B4EAA;
  cursor: pointer;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em
}